[mysqld]
gtid_mode = ON
enforce_gtid_consistency = ON
log_slave_updates = ON
binlog_format = ROW
user=mysql
bind-address=0.0.0.0
host_cache_size=0

log-bin=mysql-bin
general_log=1
slow_query_log=1
local-infile=1
secure-file-priv=""