[mysqld]
# Basic
user=mysql
datadir=/var/lib/mysql
bind-address=0.0.0.0
skip-host-cache
skip-name-resolve

# Semi-sync replication
plugin-load-add=rpl_semi_sync_master=semisync_master.so
plugin-load-add=rpl_semi_sync_slave=semisync_slave.so
rpl_semi_sync_master_enabled=ON
rpl_semi_sync_slave_enabled=ON

# Vitess-friendly options
binlog-format=ROW
gtid-mode=ON
enforce-gtid-consistency=ON
log-bin=mysql-bin
server-id=100
report-host=shard0
